body {
    margin: 0;
    font-family: sans-serif;
}
#scoreboard-container{
    position: fixed;
    right: 5vw;
    top: 24vh;
}
#scoreboard{
    min-width: 7vw;
    min-height: 3vh;
    font-size: 1vw
}
@media only screen and (max-width: 600px){
    #scoreboard-container{
        position: fixed;
        bottom: 0;
    }
    #scoreboard{
        left: 5vw;
        top: none;
        bottom: 1vh;
        min-width: 7vw;
        min-height: 1vh;
        font-size: 2.5vw;
    }
}

@media only screen and (orientation: landscape){
    #scoreboard tr td{
        font-size: 2.5vh;
    }
}
#nextButton{
    position:fixed;
    right: 5vw;
    top: 10vh;
    padding: 1vw, 1vh;
    min-width: 7vw;
    min-height: 3vh;
    font-size: 1.5vh;
    cursor: pointer;
}
#regelnButton{
    position:fixed;
    right: 5vw;
    top: 14vh;
    padding: 5vw, 1vh;
    min-width: 7vw;
    min-height: 3vh;
    font-size: 1.5vh;
    cursor: pointer;
}
#rulesButton{
    position:fixed;
    right: 5vw;
    top: 18vh;
    padding: 5vw, 1vh;
    min-width: 7vw;
    min-height: 3vh;
    font-size: 1.5vh;
    cursor: pointer;
}
canvas {
    width: 100%;
    height: 100vh;
}
